.header{
    background: linear-gradient(99.99deg, #3C7031 0.9%, #4CA735 100%);
    position: fixed;
    width: inherit; 
    max-width: 100%;
    color: #FFFFFF;
    padding-bottom: 45px;
    top: 50px;
}

.header_title{
 padding-left: 16px;
}

.header_caption{
 padding-left: 16px;
 font-size: 18px;
}


.header_heroimg{
 position: absolute;
 top: 90px;
 right: 0;
}