.App{
 width : 450px;
 background-color: #fff;
 margin: auto;
 line-height: 25px;
}

.app_brands{
    overflow-y: scroll;
}

.app_earning_button{
    max-width: inherit;
}

@media screen and (max-width: 450px) {
    .App{
        width: 100%;
    }
}